<!DOCTYPE html>
<html>
  <head>
    <title>weThrow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <noscript>Your browser doesn't support JavaScript. Enable JavaScript and refresh the page!</noscript>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
